<!-- This file is an extension of the base.html file. This serves as the page where users can create new recipes. -->
{% extends 'base.html' %}
{% block title %} Create a New Recipe {% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <h2> Add Recipe </h2>
        {{ add_recipe_form.as_p }}
        
        <h3> Ingredients </h3>
        {{ ingredients_formset.as_table }}
        <button type="Submit" name="add_recipe"> Submit </button>
    </form>
    <form method="post">
        {% csrf_token %}    
        <h4> Create New Ingredients </h4>
        {{ new_ingredient_form.as_p }}
        <button type="Submit" name="add_ingredients"> Add </button>
    </form>
{% endblock %}