{% extends 'base.html' %}
{% block title %} Recipe Book Menu {% endblock %}
{% block content %}
    <ol>
        {% for recipe in recipes %}
            <li>
                <a href="{{ recipe.link }}">{{ recipe.name }}</a>
                <ul>
                    {% for ingredient in recipe.ingredients %}
                    <li>
                        {{ingredient.name}} - {{ingredient.quantity}}
                    </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ol>
{% endblock %}